<ion-pane>
  <ion-content>
    <div class="list card">
    	<div class="item item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input ng-model="home.search" type="search" placeholder="Search">
		  </label>
		  <button ng-click="home.doSearch()" class="button button-balanced">
		    Search
		  </button>
		</div>
		<div class="item item-body">
			<h1>{{home.city}}, {{home.state}}</h1>
			<h1>{{home.temp}}°F</h1>
			<img src="{{home.icon}}">
			<p>
				{{home.summary}}
			</p>
		</div>

		<div class="item">

		</div>

    </div>
  </ion-content>
</ion-pane>