<ion-header-bar class="bar-balanced">
    <h1 class="title">My Weather App</h1>
</ion-header-bar>

<ion-pane>
  <ion-content>
    <div class="list card">
    	<form class="item item-input-inset" ng-submit="home.doSearch()">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input ng-model="home.search" type="search" placeholder="Search">
		  </label>
		  <button class="button button-balanced">
		    Search
		  </button>
		</form>
		<div class="item item-body">
			<h1>{{home.city}}, {{home.state}}</h1>
			<h1>{{home.temp}}°F</h1>
			<img src="{{home.icon}}">
			<p>
				{{home.summary}}
			</p>
		</div>
		<div class="list">

		  <label class="item item-input item-select">
		    <div class="input-label">
		      Search History
		    </div>
		    <select ng-model="selected" ng-options="key for (key, value) in home.searchHistory">

		    </select>
		  </label>

		</div>

		<div class="list" ng-repeat="(key, value) in home.searchHistory">
	        <a class="item" ng-click="home.doRecentSearch('{{value}}')" href="">{{key}}</a>
	    </div>
		<a class="item" href="#/searchHistory">
    		Search History
  		</a>

    </div>
  </ion-content>
</ion-pane>
